.header {
    background-color: #bdc2f9;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTxt {
    color: black;
    flex-grow: 1;
    text-align: center;
    font-size: 3em; /* Zwiększa rozmiar czcionki */
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu .submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.menu li:hover .submenu {
    display: block;
}


